/*.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transition: opacity 1s ease; 
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .logo {
    max-width: 800px; 
    height: auto;     
  }
  .fade-text {
    color: rgb(12, 12, 12);
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }*/
  .splash-screen-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 1;
    margin :0;
    transition: opacity 1s ease; /* Transition effect */
  }
  .fade-text {
    color: rgb(12, 12, 12);
    font-size: 24px;
        text-align: center;
        margin: 0;
  }
  .logo {
    width: 400px; /* Ensure the logo maintains a fixed width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 0px; /* Adjust the bottom margin to bring the text closer */
  }
  
  .fade-out {
    opacity: 0; /* Fades out */
  }
  
  .fade-in {
    opacity: 1; /* Fades in */
  }
  
  .start-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the button */
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }