/* src/components/CourseCard/CourseCard.css */

.course-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
}

.course-card:hover {
  transform: scale(1.05);
}

.progress-container {
  background-color: #e0e0e0; /* Background color of the progress bar */
  border-radius: 8px; /* Rounded corners */
  height: 20px; /* Height of the progress bar */
  margin: 10px 0; /* Margin between elements */
}

.progress-bar {
  background-color: #76c7c0; /* Color of the progress */
  height: 100%; /* Full height */
  border-radius: 8px; /* Rounded corners */
  transition: width 0.3s; /* Smooth transition for width change */
}